body {
    background-color: #F0F0F0;
}

header {
    background-color: white;
}

.row {
    padding-top: 15px;
}

li {
    list-style-image: url(/images/bullet.png);
    margin-left : 15px;
}

.regles {
    background-color: #FFFFFF;
    border-radius: 8px;
}

h4 {
    margin-left: 15px;
}

#checkBtn1 {
    display: none;
}
#checkBtn2 {
    display: none;
}
#checkBtn3 {
    display: none;
}
#checkBtn4 {
    display: none;
}

.listing {
    display: none;
}

#checkBtn1:checked ~ .listing {
    display: block;
}
#checkBtn2:checked ~ .listing {
    display: block;
}
#checkBtn3:checked ~ .listing {
    display: block;
}
#checkBtn4:checked ~ .listing {
    display: block;
}

.regles {
    cursor: pointer;
    border-radius: 10px;
    padding: 5px 10px;
    box-shadow: 1px 1px gray;
    
}

.regles:hover {
    background-color: lightgray;
}

span {
    font-size: 16px;
}

#acces_rapide {
    background-color: #d40505;
    color: white;
    margin-left: 200px;
}